<div style="padding:20vh 0;">
	<div class="container container--padded container--md">
		<h2>Alerts</h2>
		<button class="btn btn--primary btn--secondary btn--wide" data-action='{"actions":["alert#test"]}'>Alert</button>
		<button class="btn btn--primary btn--secondary btn--wide" data-action='{"actions":["alert#alert1"]}'>Alert</button>
		<button class="btn btn--primary btn--secondary btn--wide" data-action='{"actions":["alert#alert2"]}'>Alert</button>
		<button class="btn btn--primary btn--secondary btn--wide" data-action='{"actions":["alert#alert3"]}'>Alert</button>
	</div>
</div>

<div id="test" class="alert alert--sticky alert--passive" data-alert='{"time" : 7000}'>
	<span class="alert__bar"><span></span></span>
	<div class="container container--md alert__container">
		<button class="ui ui--close" data-close>
			{{icon 'close'}}
		</button>
		<div class="content alert__content">
			<!-- media -->
			<div class="media media--top">
				<div class="media__figure">
					<img src="http://placehold.it/60" alt="">
				</div>
				<div class="media__body">
					<p>Your order has been dispached and will be with you on Thursday 15th June</p>
				</div>
			</div>
			<!-- /media -->
		</div>
	</div>
</div>

<div id="alert1" class="alert alert--sticky" data-alert='{"time":3000}'>
	<span class="alert__bar"><span></span></span>
	<div class="container container--md alert__container">
		<div class="content alert__content">
			<!-- media -->
			<div class="media media--top">
				<div class="media__figure">
					<img src="http://placehold.it/60" alt="">
				</div>
				<div class="media__body">
					<h4>Example Title</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At numquam fuga, ex reiciendis itaque. Natus eum, error, hic perspiciatis sit nisi laudantium reiciendis assumenda earum eaque dolor ex numquam! Dignissimos?</p>
					<a href="#" class="btn btn--tertiary">Get Help</a>
					<a href="#" class="btn btn--secondary">Make a payment</a>
				</div>
			</div>
			<!-- /media -->
		</div>
	</div>
</div>

<div id="alert2" class="alert alert--sticky alert--essential" data-alert='{"bg": true}'>
	<span class="alert__bar"><span></span></span>
	<div class="container container--md alert__container">
		<div class="content alert__content">
			<!-- media -->
			<div class="media media--top">
				<div class="media__figure">
					<img src="http://placehold.it/60" alt="">
				</div>
				<div class="media__body">
					<h4>You have missed a payment</h4>
					<p>Don't panic, you can make a payment now and continue with your shopping</p>
					<a href="#" class="btn btn--tertiary" data-close>Get Help</a>
					<a href="#" class="btn btn--secondary" data-action='{"actions":["alert#test"]}'>Make a payment</a>
				</div>
			</div>
			<!-- /media -->
		</div>
	</div>
</div>

<div id="alert3" class="alert alert--sticky alert--actionable" data-alert='{"time":3000}'>
	<span class="alert__bar"><span></span></span>
	<div class="container container--md alert__container">
		<button class="ui ui--close" data-close>
			{{icon 'close'}}
		</button>
		<div class="content alert__content">
			<!-- media -->
			<div class="media media--top">
				<div class="media__figure">
					<img src="http://placehold.it/60" alt="">
				</div>
				<div class="media__body">
					<p>You've been signed out of your account</p>
				</div>
			</div>
			<!-- /media -->
		</div>
	</div>
	<footer class="alert__footer">
		<div class="container container--md alert__container">
			<div class="content alert__content">
				<div class="grid grid--gutters grid--2@sm">
					<div class="grid__item">
						<a href="#" class="btn btn--primary btn--tertiary btn--wide">Get Help</a>
					</div>
					<div class="grid__item">
						<a href="#" class="btn btn--primary btn--secondary btn--wide">Make a payment</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<div class="alert alert--sticky alert--actionable" data-alert='{"delay": 0, "time": 5000}'>
	<span class="alert__bar"><span></span></span>
	<div class="container container--md alert__container">
		<button class="ui ui--close" data-close>
			{{icon 'close'}}
		</button>
		<div class="content alert__content">
			<!-- media -->
			<div class="media media--top">
				<div class="media__figure">
					<img src="http://placehold.it/60" alt="">
				</div>
				<div class="media__body">
					<p>You've been signed out of your account</p>
				</div>
			</div>
			<!-- /media -->
		</div>
	</div>
	<footer class="alert__footer">
		<div class="container container--md alert__container">
			<div class="content alert__content">
				<div class="grid grid--gutters grid--2@sm">
					<div class="grid__item">
						<a href="#" class="btn btn--primary btn--tertiary btn--wide">Continue shopping</a>
					</div>
					<div class="grid__item">
						<a href="#" class="btn btn--primary btn--secondary btn--wide">Sign in now</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
