
/*---
Alert
@group			UIComponents/Alerts
@desc			...
@modifier		alert--passive		: Passive
@modifier		alert--essential	: Essential
@modifier		alert--actionable	: Actionable
@todo			Document
@author			Michael Ord
@tags			module,javascript
---
<div class="alert {modifier}">
	<span class="alert__bar"><span></span></span>
	<div class="container alert__container">
		<div class="content alert__content">
			<div class="media media--top">
				<div class="media__figure">
					<img src="http://placehold.it/60" alt="">
				</div>
				<div class="media__body">
					<h4>You have missed a payment</h4>
					<p>Don't panic, you can make a payment now and continue with your shopping</p>
					<a href="#" class="btn btn--tertiary" data-close>Get Help</a>
					<a href="#" class="btn btn--secondary" data-action='{"actions":["alert#test"]}'>Make a payment</a>
				</div>
			</div>
		</div>
	</div>
</div>
*/
.alert
{
	$parent						: &;

	@at-root #{$parent}-background
	{
		position				: fixed;
		top						: 0;
		left					: 0;
		height					: 100%;
		width					: 100%;
		transition				: all .5s;
		visibility				: hidden;
		z-index					: 2000;

		&.active
		{
			background-color	: rgba(0, 0, 0, .5);
			visibility			: visible;
		}
	}

	background					: #fff;
	margin						: 0 auto;

	&--sticky
	{
		position				: fixed;
		bottom					: -5px;
		left					: 0;
		right					: 0;
		z-index					: 2010;
		box-shadow				: 0 0 4px rgba(0, 0, 0, .4);
		transform				: translate(0, 100%);
		transition				: transform .5s;

		@include device(lg)
		{
			max-width			: 400px;
			margin-right		: 10%;
		}
	}

	&.active,
	&:target
	{
		transform				: translate(0, 0);
	}

	&__bar
	{
		background-color		: #ccc;
		display					: block;
		height					: 4px;

		span
		{
			display				: block;
			height				: 100%;
			background-color	: #bbb;

			@if($debug)
			{
				width			: 50%;
			}
		}
	}

	&__container
	{
		padding					: 1rem;
		position				: relative;
	}

	&__content
	{
		> *:first-child
		{
			margin-top			: 0;
		}

		> *:last-child
		{
			margin-bottom		: 0;
		}
	}

	&__footer
	{
		background				: #eee;
		border-top				: 1px solid #ddd;

		> *:first-child
		{
			margin-top			: 0;
		}

		> *:last-child
		{
			margin-bottom		: 0;
		}
	}

	&--passive
	{
		#{$parent}__bar
		{
			span
			{
				background-color	: #e6007e;
			}
		}
	}

	&--essential
	{
		#{$parent}__bar
		{
			background-color	: #dd4759;

			span
			{
				display			: none;
			}
		}
	}

	&--actionable
	{
		#{$parent}__bar
		{
			span
			{
				background-color	: #968ec8;
			}
		}
	}
}
